# KPI Analysis + Plots

This notebook builds monthly KPIs from the encounter-level dataset (with revenue).

It also saves plots into `outputs/` so the README charts show up.

In [5]:
import sys
from pathlib import Path
import pandas as pd

ROOT = Path.cwd().resolve()
if ROOT.name == "notebooks":
    ROOT = ROOT.parent

if str(ROOT) not in sys.path:
    sys.path.insert(0, str(ROOT))

from src.kpi_metrics import compute_monthly_kpis, save_plots  # noqa: E402

DATA_PATH = ROOT / "data" / "encounters_with_revenue.csv"
df = pd.read_csv(DATA_PATH)

df.head()

,sex,city,county,patient_category,encounter_facility,pos,encounter_type,encounter_date,visit_time,race,patient_status,encounter___service_provider,cpt_code,duration_min,is_billable,encounter_status,month,units,rate,revenue
0,Male,Lansing,Ingham County,NaN,Men's Safe Harbor,Office,PRC Individual - CCAR,2023-04-05,11:00 AM,African American,X Discharged,KW,T1012,23.0,Yes,Closed,2023-04-01,1,52.5,52.5
1,Male,Lansing,Ingham County,NaN,Men's Safe Harbor,Office,PRC Individual - CCAR,2023-04-05,12:45 PM,White,X Discharged,KW,T1012,30.0,Yes,Closed,2023-04-01,1,52.5,52.5
2,Male,Lansing,Ingham County,NaN,Men's Safe Harbor,Office,PRC Individual - CCAR,2023-04-05,2:00 PM,Other Race,X Discharged,KW,T1012,31.0,Yes,Closed,2023-04-01,1,52.5,52.5
3,Male,Potterville,Eaton County,NaN,Men's Safe Harbor,Office,PRC Individual - CCAR,2023-04-05,2:45 PM,White,X Discharged,KW,T1012,19.0,Yes,Closed,2023-04-01,1,52.5,52.5
4,Male,Lansing,Ingham County,NaN,Men's Safe Harbor,Office,PRC Individual - CCAR,2023-04-05,4:15 PM,White,X Discharged,KW,T1012,30.0,Yes,Closed,2023-04-01,1,52.5,52.5

## Compute monthly KPIs

In [6]:
monthly_kpis = compute_monthly_kpis(df)
monthly_kpis

,month,encounters,client_hours,revenue,revenue_per_hour,revenue_per_encounter
0,2023-04-01,80,27.366667,4200.0,153.471376,52.500000
1,2023-05-01,145,46.783333,7612.5,162.718204,52.500000
2,2023-06-01,141,49.333333,7402.5,150.050676,52.500000
3,2023-07-01,136,53.033333,7140.0,134.632307,52.500000
4,2023-08-01,165,78.616667,7020.0,89.294043,42.545455
5,2023-09-01,91,85.233333,8586.0,100.735237,94.351648
6,2023-10-01,94,89.933333,9301.5,103.426612,98.952128
7,2023-11-01,86,85.450000,8957.0,104.821533,104.151163
8,2023-12-01,77,80.250000,8400.5,104.679128,109.097403
9,2024-01-01,83,92.016667,9672.5,105.116827,116.536145
10,2024-02-01,91,96.600000,10229.0,105.890269,112.406593
11,2024-03-01,89,99.250000,10520.5,106.000000,118.207865
12,2024-04-01,78,88.250000,9354.5,106.000000,119.929487
13,2024-05-01,91,105.500000,11183.0,106.000000,122.890110
14,2024-06-01,77,82.750000,8771.5,106.000000,113.915584
15,2024-07-01,77,84.750000,8983.5,106.000000,116.668831
16,2024-08-01,87,95.750000,10149.0,105.994778,116.655172
17,2024-09-01,82,91.500000,9699.0,106.000000,118.280488
18,2024-10-01,89,99.500000,10547.0,106.000000,118.505618
19,2024-11-01,80,89.750000,9513.5,106.000000,118.918750
20,2024-12-01,76,89.000000,9434.0,106.000000,124.131579
21,2025-01-01,91,103.500000,10971.0,106.000000,120.560440
22,2025-02-01,72,85.250000,9036.5,106.000000,125.506944
23,2025-03-01,72,87.250000,9248.5,106.000000,128.451389
24,2025-04-01,62,66.250000,7022.5,106.000000,113.266129

## Save plots to outputs/

In [7]:
save_plots(monthly_kpis, out_dir=ROOT / "outputs")
print("Saved plots to:", ROOT / "outputs")

Saved plots to: /mnt/c/Users/glopp/Python Projects/staff-productivity-analysis/outputs

## Save KPI table

This is helpful if you want to quickly reuse KPIs later without recomputing.

In [8]:
OUT_KPI = ROOT / "data" / "monthly_kpis.csv"
monthly_kpis.to_csv(OUT_KPI, index=False)
print("Wrote:", OUT_KPI)

Wrote: /mnt/c/Users/glopp/Python Projects/staff-productivity-analysis/data/monthly_kpis.csv